body
{
	background: #90afc5;
}
header
{
	color:#90afc5;
}
#content
{
	
	background:#90afc5;
	min-height:90%;
	margin: 1% auto;
	text-align: center;
}

.f2
{
	background-color: #336B87;
	border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
	width: 500px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
	text-align: center;
}
.two
{
	background: rgb(158, 81, 81);
}
.string
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 11pt;
	display:block;
	text-align:left;
	color: white;
}
p
{
	display:inline-block;
	
}
a
{
	border: 4px solid black;
	display:block;
	padding:10em;
	
	
}
.one
{
	background:#CDC0B0;
	
}

legend
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 12pt;
	text-align: left;
	color: white;
}


.f2 input[type=text],input[type=email],input[type=number],input[list=country-list], input[type=file]
{
	float: center;
	margin-left: 70px;
	text-align: center;
	padding: 5px;
	margin-top: 10px;
	width: 250px;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
	border: 0;
}

.f2 input[type=email]
{
	margin-left: 51px;
}

.f2 input[type=number]
{
	margin-left: 39px;
}

.f2 input[list=country-list]
{
	margin-left: 71px;
}

.f2 input[type=date]
{
	/* margin-left: 200px; */
	padding: 2px;
	text-align: center;
	margin-top: 10px;
	width: 250px;
	margin-left: 64px;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
	border: 0;
}

.f2 input[type=range]
{
	width: 250px;
	margin-left: 55px;
	padding: 5px;
	height: 10px;
	margin-top: 10px;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
	border: 0;
}

.radiobuttons
{
	float: right;
	margin-right: 90px;
	
}

.radiotext
{
	display: block;
	margin-top: 15px;
}

fieldset {margin-top: 10px;}

.f2 input[type=button]
{
	padding: 5px;
	width: 150px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 10px;
	border: 0;
}